
input,
select {
    width: 100%;
    padding: 12px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    padding: 5px;
}

input:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.btn {
    padding: 1.2rem 2.8rem;
    background: var(--bg-color);
    color: var(--white-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 700;
    border: .2rem solid transparent;
    transition: .5s ease;

}

.btn:hover {
    background: transparent;
    color: var(--bg-color);
    border-color: var(--bg-color);
}

.clear-btn {
    margin-left: 10px;
    background-color: #000000;
    color: #fff;
}



.card2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border-radius: 10px;
    width: 300px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    text-align: center;
    z-index: 9999;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}

#cookieSvg {
    width: 50px;
}

#cookieSvg g path {
    fill: rgb(97, 81, 81);
}

.cookieHeading {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
}





.acceptButton {
    width: 80px;
    height: 30px;
    background-color: #000000;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
}

.declineButton {
    width: 80px;
    height: 30px;
    background-color: rgb(218, 218, 218);
    transition-duration: .2s;
    color: rgb(46, 46, 46);
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
}

.declineButton:hover {
    background-color: #ebebeb;
    transition-duration: .2s;
}

.acceptButton:hover {
    background-color: #ff0000;
    transition-duration: .2s;
}

.btncontrol {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.btns {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

/* Styles for the table */
h2 {
    margin-top: 30px;
    font-size: 3rem;
    color: #000;
}

/* Existing styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    /* Set padding-left to 0 */
    box-sizing: border-box;
}

/* ... (other existing styles) ... */
tbody td {
    font-weight: 600;
    font-size: 1.3rem;
}

th,
td {
    padding: 12px;
    text-align: left;
    font-size: 1.2rem;
}

thead {
    background-color: #000000;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tfoot {
    font-weight: bold;
}

tfoot tr:first-child {
    background-color: #000000;
    color: #fff;
}

tfoot tr:last-child {
    background-color: #28a745;
    color: #fff;
}



@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }


}



@media (max-width: 991px) {

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }


    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }

}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .home-img {
        display: none;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        fill: var(--text-color);
        margin-top: .5rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
        flex-direction: column;
        background-color: var(--bg-color);
        justify-content: center;
        text-align: center;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: 1s;
        padding: 10px;
        overflow: hidden;

    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);

    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }


}



@media (max-width: 450px) {
    html {
        font-size: 60%;
    }

    #darkMode-icon {
        right: 6rem;
    }

    .table-container {
        max-width: 100%;
        /* Set your desired maximum width */
        width: 100%;
        /* Ensure the table container takes the full width of its parent */

        /* Add any additional styling as needed */
        margin: 0 auto;
        /* Center the table container */
        overflow-x: auto;
        /* Enable horizontal scrolling if content exceeds the maximum width */
    }


}

.card {
    margin: auto;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 20px;
}

.search-container input {
    width: 100%;
    height: 50px;
    border: 0;
    outline: none;
    font-size: 13px;
}

.categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 0px 20px 20px 20px;
}



.results {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.results hr {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #ECECEC;
}

.results p {
    padding: 0 20px;
}

p.label {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #5F6368;
}

.results .entry {
    display: grid;
    grid-template-columns: 40px 1fr 3px;
    gap: 12px;
    padding: 5px 20px;
    transition: all 0.2s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.results .entry:hover {
    background-color: #F5F8FE;
}

.results .results-list .entry:hover .icon {
    background-color: #1763fa;
}

.results .results-list .entry:hover .icon svg path,
.results .results-list .entry:hover .icon svg circle {
    fill: #ffffff;
}

.results .results-list .entry:hover label {
    color: #1763fa;
}

.results .results-list .entry:hover span {
    color: #7ba0eb;
}

.results .results-list {
    display: flex;
    flex-direction: column;
}

.results .entry .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECECEC;
    border-radius: 7px;
    transition: all 0.2s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.results .entry .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.results .entry .desc label {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #171718;
}

.results .entry .desc span {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #72767c;
}

.results .entry .badge {
    width: 40px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #DDFFDE;
    border: 1px solid #08581d0e;
    border-radius: 7px;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #08581D;
}



.card .action {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card .action p {
    padding-left: 5px;
}



.edit-actions {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    opacity: 0.6;
}


