.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: black;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s ease;
}
.bx-moon {
    fill: aliceblue;
}
.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}



.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}



.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--main-color);
    font-weight: 500;
    margin-right: 3.5rem;

}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}


#menu-icon {
    display: none;
}


@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }


    body {
        padding: 10rem 3% 2rem;
    }
}

@media (max-width: 1060px) {




    .header {
        padding: 1rem 3%;
    }

    body {
        padding: 10rem 3% 2rem;
    }


}

@media (max-width: 991px) {

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }



    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }


}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .home-img {
        display: none;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        fill: var(--text-color);
        margin-top: .5rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
        flex-direction: column;
        background-color: var(--bg-color);
        justify-content: center;
        text-align: center;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: 1s;
        padding: 10px;
        overflow: hidden;

    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);

    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }



}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 6rem;
    }




}

