<header class="header">
  <a class="logo" (click)="navigateToHome()">SHEIN TRADERS</a>

  <div class="icons">
    <button id="darkMode-icon" (click)="toggleDarkMode()">
      <i class="material-icons">dark_mode</i>
    </button>
    <button id="menu-icon" (click)="toggleMenu()">
      <i class="material-icons">{{ isNavbarOpen ? 'close' : 'menu' }}</i>
    </button>
  </div>
</header>

<div class="navbar" [class.open]="isNavbarOpen">
  <a (click)="navigateToHome()" [class.active]="currentSection === 'home'">Home</a>
  <a (click)="navigateToAbout()" [class.active]="currentSection === 'about'">About</a>
  <a (click)="navigateToAnalytics()" [class.active]="currentSection === 'analytics'">Analytics</a>
  <a (click)="navigateToSettings()" [class.active]="currentSection === 'settings'">Settings</a>
  <a href="#" (click)="logout()">Logout</a>
</div>

<div class="content" [class.shifted]="isNavbarOpen">
  <!-- Main content goes here -->
  <router-outlet></router-outlet>
</div>
